$primary-orange: hsl(12, 88%, 59%);
$primary-blue: hsl(228, 39%, 23%);
$dark-gray: hsl(227, 11%, 58%);
$dark-blue: hsl(233, 12%, 13%);
$pale-red: hsl(13, 100%, 96%);
$light-gray: hsl(0, 0%, 98%);
$font-stack: 'Be Vietnam', sans-serif;
